@import "../colors"

@import "adblock"
@import "search"
@import "feedback"
@import "info_page"
@import "settings"

.page
  &__body
    padding: 20px 15px
    background: $main
    margin-bottom: 0

    .search-field
      width: inherit
      margin: 0 -15px

  &__footer
    padding: 15px 20px
    background: $main
    border-top: 1px solid $grey

