$grey: #777
$text: #cdcdcd
$main: #393939
$azure: #5ec2ff
$green: #00ce00
$lemon: #c7c705
$carrot: #f66
$second: #434343
$dark-main: #2e2e2e
$dark-azure: #4d7285
$light-grey: #ddd
$light-green: #9eff5e
$editor-btns: #5489c3
$page-background: #4d5052

